// .thi {
//   height: 100vh;
// }
// .embla {
//   overflow: hidden;
// }
// .embla__container {
//   display: flex;
//   width: 100vw;
  

//   position: relative;
//   left: -40vw; /*This is used to set position of container*/
// }
// .embla__slide {
//   position: relative;
//   left: 0;
//   width: 200px;
//   margin-left: 150px;
// }
// #final{
//     color: #9b5de5;
// }
// @media screen and (max-width: 600px) {
// //   .embla {
// //     height: 200vh;
// //     position: absolute;
// //     top: 450vh;
// //   }

// .embla__slide {
//     position: relative;
//     left: 0;
//     width: 200px;
//     margin-left: 150px;
//   }
  // .embla__container {
  //   display: flex;
  //   width: 200vw;
  //}
  // .finalyr{
  //     position: relative;
  //     top:10vh;
  //     margin-top: 15vh;
  // }


// .embla__container{
//   display: grid;
//   grid-template-columns: repeat(3,1fr);
//   // column-gap: 0rem;
//   row-gap: 2rem;
// }

// .embla__container {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-auto-rows: minmax(100px, auto);
//   grid-gap: 10px;
// }

// .embla__container > div:nth-child(-n+2) {
//   grid-row: 1;
//   grid-column: span 1;
// }

// .embla__container > div:nth-child(n+3) {
//   grid-row: auto;
//   grid-column: span 3;
// }

// .embla__container {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr); /* two columns in the first row */
//   grid-auto-rows: minmax(100px, auto); /* define a minimum height for the grid rows */
//   grid-gap: 10px; /* add some space between grid cells */
// }

// /* define the first row's grid cells */
// .embla__container > div:nth-child(-n+2) {
//   grid-row: 1;
// }

// /* define the remaining rows' grid cells */
// .embla__container > div:nth-child(n+3) {
//   grid-column: span 3;
// }


// .embla__container {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-auto-rows: minmax(100px, auto);
//   grid-gap: 10px;
// }

// .embla__container > div:first-child,
// .embla__container > div:nth-child(2) {
//   grid-column: span 2;
// }

// .embla__container > div:nth-child(n+3) {
//   grid-column: span 1;
// }

.embla__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

// .embla__container > div:nth-child(1),
// .embla__container > div:nth-child(2) {
//   grid-column: span 2;
// }

// .embla__container > div:nth-child(n+4) {
//   grid-column: span 1;
// }

@media screen and (max-width: 600px) {
  .embla__container{
    grid-template-columns: repeat(1,1fr);
  }
}
